@tailwind base;
@tailwind components;
@tailwind utilities;

/* ! CSS Reset */
html {
	scroll-behavior: smooth;
}

body::-webkit-scrollbar {
	width: 0.7rem;
	border-radius: 10px;
}

body::-webkit-scrollbar-track {
	box-shadow: inset 2px 5px 7px rgb(0 0 0 / 30%);
}

body::-webkit-scrollbar-track:hover {
	box-shadow: inset 2px 5px 15px rgb(0 0 0 / 30%);
}

body::-webkit-scrollbar-thumb {
	background-color: #aeaeae;
	border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: #6c6c6c;
	border-radius: 10px;
}

/* ! Helper Classes */
.br-50 {
	border-radius: 50px;
}

.bg-magenta {
	background-color: magenta;
}

.bg-RoyalBlue {
	background-color: RoyalBlue;
}

.dark\:invert {
	filter: invert(1);
}
